<!-- booking.component.html -->
<!-- booking.component.html -->
<div class="custom-container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="custom-payment-details-card p-4 custom-shadow">
        <h2 class="mb-4">Booking Details</h2>
        <div class="row">
          <div class="col-md-6">
            <p><strong>Property Title:</strong> {{ propertyData.property_name }}</p>
            <img
            src="{{ propertyData.property_image }}"
            alt="Property Image"
            class="property-image"
          />
            <!-- <p><strong>Location:</strong> {{ propertyData.property_state }}</p> -->
            <p><strong>Price per Night:</strong> {{ propertyData.price }}</p>
          </div>
          <div class="col-md-6">
            <p><strong>Book Date:</strong> {{ propertyData.checkInDate }}</p>
            <p><strong>End Date:</strong> {{ propertyData.checkOutDate }}</p>
            <p><strong>Total Price:</strong> {{ propertyData.totalRent }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="custom-mt-5">
  <div class="custom-row justify-content-center">
    <div class="custom-col-md-8">
      <div class="custom-payment-details-card custom-card">
        <h2>Payment Details</h2>

        <!-- Step 1: User Information -->
        <div *ngIf="currentStep === 1">
          <form [formGroup]="step1Form" (submit)="goToStep(2)">
            <div class="custom-mb-3">
              <label for="fullName" class="custom-form-label">Full Name</label>
              <input
                type="text"
                class="custom-form-control"
                id="fullName"
                formControlName="fullName"
                required
              />
              <div
                *ngIf="
                  step1Form.controls['fullName'].invalid &&
                  (step1Form.controls['fullName'].dirty ||
                    step1Form.controls['fullName'].touched)
                "
                class="custom-text-danger"
              >
                Full name is required.
              </div>
            </div>
            <div class="custom-mb-3">
              <label for="age" class="custom-form-label">Age</label>
              <input
                type="number"
                class="custom-form-control"
                id="age"
                formControlName="age"
                required
              />
              <div
                *ngIf="
                  step1Form.controls['age'].invalid &&
                  (step1Form.controls['age'].dirty ||
                    step1Form.controls['age'].touched)
                "
                class="custom-text-danger"
              >
                Age is required and must be a valid number.
              </div>
            </div>
            <div class="custom-mb-3">
              <label for="gender" class="custom-form-label">Gender</label>
              <select
                class="custom-form-select"
                id="gender"
                formControlName="gender"
                required
              >
                <option value="" disabled selected>Select Gender</option>
                <option value="male">Male</option>
                <option value="female">Female</option>
                <option value="other">Other</option>
              </select>
              <div
                *ngIf="
                  step1Form.controls['gender'].invalid &&
                  (step1Form.controls['gender'].dirty ||
                    step1Form.controls['gender'].touched)
                "
                class="custom-text-danger"
              >
                Gender is required.
              </div>
            </div>
            <div class="custom-mb-3">
              <label for="mobileNo" class="custom-form-label">Mobile No</label>
              <input
                type="text"
                class="custom-form-control"
                id="mobileNo"
                formControlName="mobileNo"
                required
              />
              <div
                *ngIf="
                  step1Form.controls['mobileNo'].invalid &&
                  (step1Form.controls['mobileNo'].dirty ||
                    step1Form.controls['mobileNo'].touched)
                "
                class="custom-text-danger"
              >
                Mobile No is required.
              </div>
            </div>
            <div class="custom-mb-3">
              <label for="emailId" class="custom-form-label">Email Id</label>
              <input
                type="email"
                class="custom-form-control"
                id="emailId"
                formControlName="emailId"
                required
              />
              <div
                *ngIf="
                  step1Form.controls['emailId'].invalid &&
                  (step1Form.controls['emailId'].dirty ||
                    step1Form.controls['emailId'].touched)
                "
                class="custom-text-danger"
              >
                Invalid email address.
              </div>
            </div>
            <button type="submit" class="custom-btn custom-btn-primary">
              Next
            </button>
          </form>
        </div>

        <!-- Step 2: Card Information -->
        <div *ngIf="currentStep === 2">
          <form [formGroup]="step2Form" (submit)="goToStep(3)">
            <div class="custom-mb-3">
              <label for="cardNumber" class="custom-form-label"
                >Card Number</label
              >
              <input
                type="text"
                class="custom-form-control"
                id="cardNumber"
                formControlName="cardNumber"
                required
              />
              <div
                *ngIf="
                  step2Form.controls['cardNumber'].invalid &&
                  (step2Form.controls['cardNumber'].dirty ||
                    step2Form.controls['cardNumber'].touched)
                "
                class="custom-text-danger"
              >
                Invalid card number. Please enter a valid 16-digit card number.
              </div>
            </div>
            <div class="custom-mb-3">
              <label for="confirmCardNumber" class="custom-form-label"
                >Confirm Card Number</label
              >
              <input
                type="text"
                class="custom-form-control"
                id="confirmCardNumber"
                formControlName="confirmCardNumber"
                required
              />
              <div
                *ngIf="
                  step2Form.controls['confirmCardNumber'].invalid &&
                  (step2Form.controls['confirmCardNumber'].dirty ||
                    step2Form.controls['confirmCardNumber'].touched)
                "
                class="custom-text-danger"
              >
                Card numbers do not match.
              </div>
            </div>
            <div class="custom-mb-3">
                <label for="confirmCardNumber" class="custom-form-label"
                  >Card Name</label
                >
                <input
                  type="text"
                  class="custom-form-control"
                  id="cardName"
                  formControlName="cardName"
                  required
                />
            </div>
            <div class="custom-mb-3">
              <label for="expiryDate" class="custom-form-label"
                >Expiry Date (MM/YY)</label
              >
              <input
                type="text"
                class="custom-form-control"
                id="expiryDate"
                formControlName="expiryDate"
                required
              />
              <div
                *ngIf="
                  step2Form.controls['expiryDate'].invalid &&
                  (step2Form.controls['expiryDate'].dirty ||
                    step2Form.controls['expiryDate'].touched)
                "
                class="custom-text-danger"
              >
                Invalid expiry date. Please enter a valid date in the format
                MM/YY.
              </div>
            </div>
            <div class="custom-mb-3">
              <label for="cvv" class="custom-form-label">CVV</label>
              <input
                type="text"
                class="custom-form-control"
                id="cvv"
                formControlName="cvv"
                required
              />
              <div
                *ngIf="
                  step2Form.controls['cvv'].invalid &&
                  (step2Form.controls['cvv'].dirty ||
                    step2Form.controls['cvv'].touched)
                "
                class="custom-text-danger"
              >
                Invalid CVV. Please enter a valid 3-digit CVV number.
              </div>
            </div>
            <button
              type="button"
              class="custom-btn custom-btn-secondary me-2"
              (click)="goToStep(1)"
            >
              Previous
            </button>
            <button type="submit" class="custom-btn custom-btn-primary">
              Next
            </button>
          </form>
        </div>

        <!-- Step 3: Confirm Payment -->
        <div *ngIf="currentStep === 3">
          <h3>Confirm Payment</h3>
          <p><strong>Total Price:</strong> {{ propertyData.totalRent }}</p>
          <p>
            <strong>Card Number:</strong>
            {{ step2Form.get("cardNumber")?.value }}
          </p>
          <p>
            <strong>Expiry Date:</strong>
            {{ step2Form.get("expiryDate")?.value }}
          </p>
          <p><strong>CVV:</strong> {{ step2Form.get("cvv")?.value }}</p>
          <button
            type="button"
            class="custom-btn custom-btn-secondary me-2"
            (click)="goToStep(2)"
          >
            Previous
          </button>
          <button
            type="submit"
            class="custom-btn custom-btn-primary"
            (click)="makePayment()"
          >
            Make Payment
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
